[build-system]
requires = [
  "setuptools >= 68",
  "wheel",
  "setuptools-git >= 1.1",
  "pytest-runner",
  "toml",
  "reahl-component-metadata >= 7.0.0"
  ]
build-backend = "setuptools.build_meta"

[project]
name = "reahl-webdev"
version = "7.0.0"
description = "Web-specific development tools for Reahl."
readme = "README.rst"
requires-python = ">=3.8"
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "License :: OSI Approved",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3"
  ]
dependencies = [
  "reahl-web>=7.0,<7.1",
  "reahl-dev>=7.0,<7.1",
  "reahl-component>=7.0,<7.1",
  "reahl-tofu>=7.0,<7.1",
  "selenium>=2.42,<4.7.9999",
  "watchdog>=0.8.3,<3.0.999",
  "WebOb>=1.8,<1.8.999",
  "setuptools>=51.0.0",
  "prompt_toolkit>=2.0.10,<3.0.999",
  "cached-property>=1.5,<1.5.999;python_version<'3.8'"
  ]
authors = [ 
  {name = "Iwan Vosloo", email = "iwan@reahl.org"},
  {name = "Craig Sparks", email = "craig@reahl.org"}
]

[project.optional-dependencies]
test = [
  "pytest>=3.0",
  "reahl-tofu",
  "reahl-stubble",
  "reahl-doc",
  "reahl-postgresqlsupport"
  ]

[project.entry-points."reahl.component.commands"]
ServeCurrentProject = "reahl.webdev.commands:ServeCurrentProject"
SyncFiles = "reahl.webdev.commands:SyncFiles"
CreateConfig = "reahl.webdev.commands:CreateConfig"

[tool.setuptools.packages.find]
exclude = ["etc", "build", "dist"]

[tool.reahl-component.versions."6.1"]
dependencies = [
  "reahl-web>=6.1,<6.2",
  "reahl-dev>=6.1,<6.2",
  "reahl-component>=6.1,<6.2",
  "reahl-tofu>=6.1,<6.2"
  ]

[tool.reahl-component.versions."6.0"]
dependencies = [
  "reahl-web>=6.0,<6.1",
  "reahl-dev>=6.0,<6.1",
  "reahl-component>=6.0,<6.1",
  "reahl-tofu>=6.0,<6.1"
  ]

[tool.reahl-component.versions."5.2"]
dependencies = [
  "reahl-web>=5.2,<5.3",
  "reahl-dev>=5.2,<5.3",
  "reahl-component>=5.2,<5.3",
  "reahl-tofu>=5.2,<5.3"
  ]

[tool.reahl-component.versions."5.1"]
dependencies = [
  "reahl-web>=5.1,<5.2",
  "reahl-dev>=5.1,<5.2",
  "reahl-component>=5.1,<5.2",
  "reahl-tofu>=5.1,<5.2"
  ]

[tool.reahl-component.versions."5.0"]
dependencies = [
  "reahl-web>=5.0,<5.1",
  "reahl-dev>=5.0,<5.1",
  "reahl-component>=5.0,<5.1",
  "reahl-tofu>=5.0,<5.1",
  "reahl-domain>=5.0,<5.1"
  ]

[tool.reahl-component.versions."4.0"]
dependencies = [
  "reahl-web>=4.0,<4.1",
  "reahl-dev>=4.0,<4.1",
  "reahl-component>=4.0,<4.1",
  "reahl-tofu>=4.0,<4.1",
  "reahl-domain>=4.0,<4.1"
  ]

[tool.reahl-component.versions."3.2"]
dependencies = [
  "reahl-web>=3.2,<3.3",
  "reahl-dev>=3.2,<3.3",
  "reahl-component>=3.2,<3.3",
  "reahl-tofu>=3.2,<3.3",
  "reahl-domain>=3.2,<3.3"
  ]

[tool.reahl-component.versions."3.1"]
dependencies = [
  "reahl-web>=3.1,<3.2",
  "reahl-dev>=3.1,<3.2",
  "reahl-component>=3.1,<3.2",
  "reahl-tofu>=3.1,<3.2",
  "reahl-domain>=3.1,<3.2"
  ]

[tool.reahl-component.versions."3.0"]
dependencies = [
  "reahl-web>=3.0,<3.1",
  "reahl-dev>=3.0,<3.1",
  "reahl-component>=3.0,<3.1",
  "reahl-tofu>=3.0,<3.1"
  ]

[tool.reahl-component.versions."2.1"]
dependencies = [
  "reahl-web>=2.1,<2.2",
  "reahl-dev>=2.1,<2.2",
  "reahl-component>=2.1,<2.2",
  "reahl-tofu>=2.1,<2.2"
  ]

[tool.reahl-component.versions."2.0"]
dependencies = [
  "reahl-web>=2.0,<2.1",
  "reahl-dev>=2.0,<2.1",
  "reahl-component>=2.0,<2.1",
  "reahl-tofu>=2.0,<2.1"
  ]
