build-stamp
configure-stamp
debian/python-reahl/
debian/*.install
debian/*.debhelper
debian/*.substvars
debian/files
__pycache__
*.pyc
*.old
build
_build
.ropeproject
setup.py
.noseids
chromedriver.log
.vagrant
.ngrok
.eggs
.pytest_cache
.vs
*.db
*geckodriver.log
debian/python-reahl-doc/
debian/python-reahl-sqlalchemysupport/
debian/python-reahl-mailutil/
debian/python-reahl-postgresqlsupport/
debian/python-reahl-mysqlsupport/
debian/python-reahl-sqlitesupport/
debian/python-reahl-webdev/
debian/python-reahl-component/
debian/python-reahl-commands/
debian/python-reahl-dev/
debian/python-reahl-bzrsupport/
debian/python-reahl-stubble/
debian/python-reahl-tofu/
debian/python-reahl-domain/
debian/python-reahl-domainui/
debian/python-reahl-web/
debian/python-reahl-web-declarative/
debian/*.debhelper.log
reahl-component/reahl_component.*-info/
reahl-component-metadata/reahl_component_metadata.*-info/
reahl-commands/reahl_commands.*-info/
reahl-doc/reahl_doc.*-info/
reahl-domain/reahl_domain.*-info/
reahl-domainui/reahl_domainui.*-info/
reahl-mailutil/reahl_mailutil.*-info/
reahl-postgresqlsupport/reahl_postgresqlsupport.*-info/
reahl-mysqlsupport/reahl_mysqlsupport.*-info/
reahl-sqlalchemysupport/reahl_sqlalchemysupport.*-info/
reahl-sqlitesupport/reahl_sqlitesupport.*-info/
reahl-stubble/reahl_stubble.*-info/
reahl-tofu/reahl_tofu.*-info/
reahl-web/reahl_web.*-info/
reahl-web-declarative/reahl_web_declarative.*-info/
reahl-webdev/reahl_webdev.*-info/
reahl-workstation/reahl_workstation.*-info/

*.egg-info/
*.dist-info/
reahl.*-info/
reahl-doc/reahl/doc/examples/tutorial/hellonginx/hellonginx.*-info
.idea
*.iml
.tox
*.mo
*~
*/.eggs

.floo
.flooignore
.cache
.vscode
