# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure(2) do |config|
  config.vm.box = "reahl/bionic64"

  config.vm.network "forwarded_port", guest: 8000, host: 8000
  config.vm.network "forwarded_port", guest: 8363, host: 8363

  config.vm.provision "shell", privileged: false, inline: <<-SHELL
    pip install reahl[all]
  SHELL
end

