Source: python-reahl
Section: reahl
Priority: optional
Maintainer: Iwan Vosloo <iwan@reahl.org>
Build-Depends: debhelper (>= 7), python-support (>= 1.0), python (>= 2.6), python (<< 3.0)
Standards-Version: 4.0.0

Package: python-reahl
Architecture: all
Depends: python-setuptools, ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: The Reahl web framework.
 Reahl is a web application framework for Python programmers.
 .
 With Reahl, programming is done purely in Python, using concepts familiar 
 from GUI programming---like reusable Widgets and Events. There's no need 
 for a programmer to know several different languages (HTML, JavaScript, 
 template languages, etc) or to keep up with the tricks of these trades. The 
 abstractions presented by Reahl relieve the programmer from the burden 
 of dealing with the annoying problems of the web: security, accessibility, 
 progressive enhancement (or graceful degradation) and browser quirks.
 .
 Reahl consists of many different eggs that are not all needed all of the time. 
 This package does not contain much itself, but is an entry point for installing
 a set of Reahl eggs:
 .
 Install Reahl by installing with extras, eg: pip install "reahl[declarative,sqlite,dev,doc]"
 to install everything needed to run Reahl on sqlite, the dev tools and documentation.
 (On Windows platforms, use easy_install instead of pip.)
 .
 See http://www.reahl.org/docs/5.2/tutorial/gettingstarted-install.d.html for
 installation instructions.

Package: python-reahl-component
Architecture: all
Depends: python-setuptools, ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: The component framework of Reahl.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 The reahl-component framework extends setuptools distribution packages to package
 and distribute more than just code.


Package: python-reahl-component-metadata
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: Plugin fro build tools to be able to write reahl-component metadata.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 The reahl-component-metadata package extends setuptools's setup() call to take an
 extra "component" keyword argument for packaging the extra metadata reahl-component
 requires.
 .
 This package is very small and meant to be a build dependency of packages that are
 Reahl components.


Package: python-reahl-commands
Architecture: all
Depends: python-setuptools, ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: The component framework of Reahl.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 Reahl-commands contains useful command line commands for reahl components.


Package: python-reahl-workstation
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: Useful commands to ease development.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 Reahl-workstation contains a few utilities that helps to have available
 on a developer workstation.

Package: python-reahl-dev
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: The core Reahl development tools.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 Reahl-dev is the component containing general Reahl development tools. 


Package: python-reahl-stubble
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: Stub tools for use in unit testing
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 Stubble (a part of the Reahl development tools) is a collection of
 tools for writing stubs in unit tests. Stubble can be used independently
 of the Reahl web framework.
 .
 Using stubs allows one to decouple one unit test from real code 
 unrelated to it - you write a fake class to take the place of 
 a real one (which this test is not testing).
 .
 Stubble ensures, however, that the test will break should the
 interface of the stub differ from that of the real class it is a stub
 for.

Package: python-reahl-tofu
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: A testing framework that couples fixtures and tests loosely.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 Tofu is part of the Reahl development tools.
 Tofu can be used independently of the Reahl web framework.
 .
 Tofu allows you to have
 a hierarchy of test fixtures that is *completely* decoupled from your
 hierarchy of tests or test suites. Tofu includes a number of other
 related test utilities. It also includes a plugin for nosetests
 that makes using it with nose seamless.
 .
 Tofu can also be used to run the set_ups of fixtures from the command 
 line.  This is useful for acceptance tests whose fixtures create data
 in databases that can be used for demonstration and user testing.

Package: python-reahl-mailutil
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}, python-docutils
Provides: ${python:Provides}
Description: Simple utilities for sending email from Reahl.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 Reahl-mailutil is a simple library for sending emails (optionally from ReST 
 sources).

 

Package: python-reahl-doc
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Recommends: python-reahl-web
Provides: ${python:Provides}
Description: Documentation and examples for Reahl.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 Reahl-doc contains documentation and examples of Reahl.
 .
 See http://www.reahl.org/docs/5.2/tutorial/gettingstarted-install.d.html for
 installation instructions.

Package: python-reahl-postgresqlsupport
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: Support for using PostgreSQL with Reahl.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 This package contains infrastructure necessary to
 use Reahl with PostgreSQL.


Package: python-reahl-mysqlsupport
Architecture: all
Depends: python-mysqldb (>= 1.3) | python3-mysqldb (>= 1.3), libmysqlclient-dev, ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: Support for using MySQL with Reahl.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 This package contains infrastructure necessary to
 use Reahl with MySQL.


Package: python-reahl-web
Architecture: all
Depends: python-beautifulsoup (>= 3.0.4), ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: The core Reahl web framework
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 This package contains the core of the Reahl framework. 
 .
 See http://www.reahl.org/docs/5.2/tutorial/gettingstarted-install.d.html for
 installation instructions.


Package: python-reahl-sqlalchemysupport
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: Support for using SqlAlchemy with Reahl.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 This package contains infrastructure necessary to
 use Reahl with SqlAlchemy or Elixir.


Package: python-reahl-sqlitesupport
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: Support for using Sqlite with Reahl.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 . 
 This package contains infrastructure necessary to
 use Reahl with Sqlite.



Package: python-reahl-webdev
Architecture: all
Depends: openssl (>= 0.9), ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: Web-specific development tools for Reahl.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 Reahl development tools for testing and working with web based programs.



Package: python-reahl-browsertools
Architecture: all
Depends: openssl (>= 0.9), ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: An alternative API for working with Selenium and WebTest.
 Reahl is a web application framework that allows a Python programmer to work in
 terms of useful abstractions - using a single programming language.
 .
 Reahl-browsertools provides an interface to Selenium WebDriver that simplifies tests that deal with ajax.
 It also includes programmatically composable XPaths that are easy to read in code.

Package: python-reahl-domain
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: End-user domain functionality for use with Reahl.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 This Reahl component includes functionality modelling user accounts,
 some simple workflow concepts and more.

Package: python-reahl-domainui
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: A user interface for reahl-domain.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 This Reahl component contains a user interface for some
 of the domain functionality in reahl-domainui.

Package: python-reahl-web-declarative
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: An implementation of Reahl persisted classes using SqlAlchemy.
 Reahl is a web application framework that allows a Python programmer to work in 
 terms of useful abstractions - using a single programming language.
 .
 Some core elements of Reahl can be implemented for use with
 different persistence technologies. This is such an implementation
 based on SqlAlchemy.



Package: python-reahl-paypalsupport
Architecture: all
Depends: ${python:Depends}, ${reahl:Depends}
Provides: ${python:Provides}
Description: Support for payments via PayPal.
 Reahl is a web application framework that allows a Python programmer to work in
 terms of useful abstractions - using a single programming language.
 .
 This package contains add-on facilities using which you can process payments
 via PayPal.

