[build-system]
requires = [
  "setuptools >= 68",
  "wheel",
  "setuptools-git >= 1.1",
  "pytest-runner",
  "toml",
  "reahl-component-metadata >= 7.0.0"
  ]
build-backend = "setuptools.build_meta"

[project]
name = "reahl-web-declarative"
version = "7.0.0"
description = "An implementation of Reahl persisted classes using SqlAlchemy."
readme = "README.rst"
requires-python = ">=3.8"
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "License :: OSI Approved",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3"
  ]
dependencies = [
  "reahl-sqlalchemysupport>=7.0,<7.1",
  "reahl-web>=7.0,<7.1",
  "reahl-component>=7.0,<7.1"
  ]
authors = [ 
  {name = "Iwan Vosloo", email = "iwan@reahl.org"},
  {name = "Craig Sparks", email = "craig@reahl.org"}
]

[project.optional-dependencies]
test = [
  "pytest>=3.0",
  "WebOb>=1.8,<1.8.999",
  "reahl-tofu",
  "reahl-stubble",
  "reahl-dev",
  "reahl-webdev",
  "reahl-browsertools",
  "reahl-postgresqlsupport",
  "reahl-domain"
  ]

[tool.setuptools.packages.find]
exclude = ["etc", "build", "dist"]

[tool.reahl-component]
configuration = "reahl.webdeclarative.webdeclarative:WebDeclarativeConfig"
persisted = [
  "reahl.webdeclarative.webdeclarative:UserSession",
  "reahl.webdeclarative.webdeclarative:SessionData",
  "reahl.webdeclarative.webdeclarative:UserInput",
  "reahl.webdeclarative.webdeclarative:PersistedException",
  "reahl.webdeclarative.webdeclarative:PersistedFile"
  ]
schedule = [
  "reahl.webdeclarative.webdeclarative:UserSession.remove_dead_sessions"
  ]

[tool.reahl-component.versions."6.1"]
dependencies = [
  "reahl-sqlalchemysupport>=6.1,<6.2",
  "reahl-web>=6.1,<6.2",
  "reahl-component>=6.1,<6.2"
  ]

[tool.reahl-component.versions."6.0"]
dependencies = [
  "reahl-sqlalchemysupport>=6.0,<6.1",
  "reahl-web>=6.0,<6.1",
  "reahl-component>=6.0,<6.1"
  ]

[tool.reahl-component.versions."5.2"]
dependencies = [
  "reahl-sqlalchemysupport>=5.2,<5.3",
  "reahl-web>=5.2,<5.3",
  "reahl-component>=5.2,<5.3"
  ]
migrations = [
  "reahl.webdeclarative.migrations:AddPolimorphicEntityName"
  ]

[tool.reahl-component.versions."5.1"]
dependencies = [
  "reahl-sqlalchemysupport>=5.1,<5.2",
  "reahl-web>=5.1,<5.2",
  "reahl-component>=5.1,<5.2"
  ]

[tool.reahl-component.versions."5.0"]
dependencies = [
  "reahl-sqlalchemysupport>=5.0,<5.1",
  "reahl-web>=5.0,<5.1",
  "reahl-component>=5.0,<5.1"
  ]
migrations = [
  "reahl.webdeclarative.migrations:AddViewPathToSessionData"
  ]

[tool.reahl-component.versions."4.0"]
dependencies = [
  "reahl-sqlalchemysupport>=4.0,<4.1",
  "reahl-web>=4.0,<4.1",
  "reahl-component>=4.0,<4.1"
  ]
migrations = [
  "reahl.webdeclarative.migrations:AllowNullUserInputValue"
  ]

[tool.reahl-component.versions."3.2"]
dependencies = [
  "reahl-sqlalchemysupport>=3.2,<3.3",
  "reahl-web>=3.2,<3.3",
  "reahl-component>=3.2,<3.3"
  ]

[tool.reahl-component.versions."3.1"]
dependencies = [
  "reahl-sqlalchemysupport>=3.1,<3.2",
  "reahl-web>=3.1,<3.2",
  "reahl-component>=3.1,<3.2"
  ]
migrations = [
  "reahl.webdeclarative.migrations:MergeWebUserSessionToUserSession",
  "reahl.webdeclarative.migrations:RenameContentType"
  ]

[tool.reahl-component.versions."3.0"]
dependencies = [
  "reahl-interfaces>=3.0,<3.1",
  "reahl-sqlalchemysupport>=3.0,<3.1",
  "reahl-web>=3.0,<3.1",
  "reahl-component>=3.0,<3.1",
  "reahl-domain>=3.0,<3.1"
  ]
migrations = [
  "reahl.webdeclarative.migrations:ElixirToDeclarativeWebDeclarativeChanges"
  ]

[tool.reahl-component.versions."2.1"]
dependencies = [
  "reahl-interfaces>=2.1,<2.2",
  "reahl-sqlalchemysupport>=2.1,<2.2",
  "reahl-web>=2.1,<2.2",
  "reahl-component>=2.1,<2.2",
  "reahl-domain>=2.1,<2.2"
  ]
migrations = [
  "reahl.webdeclarative.migrations:RenameRegionToUi"
  ]

[tool.reahl-component.versions."2.0"]
dependencies = [
  "reahl-interfaces>=2.0,<2.1",
  "reahl-sqlalchemysupport>=2.0,<2.1",
  "reahl-web>=2.0,<2.1",
  "reahl-component>=2.0,<2.1",
  "reahl-domain>=2.0,<2.1"
  ]
migrations = [
  "reahl.webdeclarative.migrations:CreateDatabase"
  ]
